.cover{
    padding-top: 92px;
    max-width: 1184px;
    margin: 0 auto;
    box-sizing: border-box;
}

 @media (max-width: 1024px){
    .cover{
        max-width: 1024px;
    }
} 

@media (max-width: 768px){
    .cover{
        padding-top: 90px;
        max-width: 768px;
    }
} 